* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
    padding: 30px;
  }

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    strong {
        color: #4a4a4a;
    }
    .logo-text {
        color: #ADADAD;
    }
    .logo-media {
        display: none;
    }
}

body {
font-family: "Poppins", "Raleway";
font-size: 20px;
color: #4a4a4a;
width: 100%;
height: 100%;
}

header {
    padding: 10px 24px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    .logo-holder {
        display: flex;
        align-items: center;
        color: black;
        .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        height: 64px;
        width: 64px;
        }
    } 

    .text {
        display: flex;
        justify-content: center;
        font-size: 32px;
        margin: 10px;
    }

    .logo-text {
        display: flex;
        flex-direction: row;
       
        }

    nav {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            list-style-type: none;
            gap: 16px;
            li {
            a {
                display: inline-block;
                padding: 10px 20px;
                color: #4a4a4a;
                }
            }
        } 
    }

    @media (max-width: 768px) {
        li {
            display: none;  
        }
        .text {
            display: none;
        }
        a {
            display: flex; 
        }
        .logo-media {
            display: block;
            font-size: 32px;
            height: 64px;
            width: 64px;   
            margin-left: 90px;    
        }
    }
}
 
button {
padding: 20px 200px;
background-color: #4a4a4a;
color: white;
font-size: 20px;
margin-top: 30px;
padding: 8px 100px;
}

.hero {
    display: flex;
    background-color: #D8D8D8;
    padding: 32px 24px;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    .hero-first {
        flex: 1;
        display: flex;
        justify-content: start
        align-items: center;
        img {
        object-fit: cover;
        width: 60%;
        }
    } 
    .hero-second  {
        flex: 1;
        padding: 30px 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

.information {
    display: flex;
    background-color: #D8D8D8;
    padding: 32px 24px;
    @media (max-width: 480px) {
        flex-direction: column;
    }
    .information-first {
        flex: 1;
        display: flex;
        justify-content: start
        align-items: center;
        .inf-img {
        object-fit: cover;
        width: 60%;
        }
    } 
    .information-second  {
        flex: 1;
        padding: 30px 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

footer {
    display: flex;
    justify-content: space-evenly;
}

footer > p {
    margin: 2rem;
  }




